*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial,Helvetica,sans-serif;

}

body{

background:#071826;

color:white;

}

.admin{

display:grid;

grid-template-columns:260px 1fr;

min-height:100vh;

}

.sidebar{

background:#0E2436;

padding:35px;

}

.sidebar h2{

margin-bottom:35px;

}

.sidebar nav{

display:flex;

flex-direction:column;

gap:18px;

}

.sidebar a{

color:white;

text-decoration:none;

padding:12px 16px;

border-radius:10px;

transition:.30s;

}

.sidebar a:hover{

background:#C78C32;

}

.content{

padding:60px;

}