/* ==========================================================
   GLOBAL
========================================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

body{

    font-family:Arial,Helvetica,sans-serif;

    background:#071826;

    color:white;

    overflow-x:hidden;

}

img{

    max-width:100%;

    display:block;

}

a{

    text-decoration:none;

    color:inherit;

}

ul{

    list-style:none;

}

.container{

    width:min(1400px,92%);

    margin:auto;

}

section{

    position:relative;

}

/* ==========================================================
BUTTONS
========================================================== */

.btn{

    display:inline-flex;

    justify-content:center;

    align-items:center;

    padding:15px 34px;

    border-radius:50px;

    font-weight:700;

    transition:.30s;

}

.btn-primary{

    background:#c78c32;

    color:white;

}

.btn-primary:hover{

    transform:translateY(-3px);

}

.btn-secondary{

    border:2px solid white;

}

.btn-secondary:hover{

    background:white;

    color:#071826;

}

/* ==========================================================
TITLE
========================================================== */

.section-title{

    font-size:3rem;

    font-weight:700;

    text-align:center;

    margin-bottom:70px;

}